<div class="centerIcon">
	<span class="glyphicon glyphicon-calendar"></span>
</div>

<br>

<div class="row forms">
	<div class="col-xs-12">
		<form
			class="form-horizontal form-group"
			#reserveForm="ngForm"
			(ngSubmit)="onSubmit()">
			<div>
				<tabset>
					<br>

					<tab class="tabReserve" heading="Dados Principais">
						<div class="row">
							<div class="col-xs-12">
								<div class="div-form form-group">
									<label class="control-label col-xs-12 col-md-2">Cliente:</label>
									<div class="col-xs-11 col-md-9">
										<input
											#clientPicked
											name="client"
											class="form-control inputTriumphi"
											placeholder="Insira o nome do cliente"
											type="text"
											required
											[(ngModel)]="clientName">
									</div>
									<div class="col-xs-1">
										<button
											type="button"
											class="btn btnTriumphi glyphicon glyphicon-search"
											(click)="getClients()">
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="form-group" [class.has-error]="birthdayPerson.invalid && birthdayPerson.touched">
									<label class="control-label col-xs-4">Aniversariante:</label>
									<div class="col-xs-8">
										<input
											#birthdayPerson="ngModel"
											class="form-control inputTriumphi"
											name="birthdayPerson"
											placeholder="Insira o nome do aniversariante"
											type="text"
											required
											[(ngModel)]="reserve.aniversariante">
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-md-6">
								<div class="form-group" [class.has-error]="birthdayPersonYearsOld.invalid && birthdayPersonYearsOld.touched">
									<label class="control-label col-xs-4">Idade:</label>
									<div class="col-xs-8">
										<input
											#birthdayPersonYearsOld="ngModel"
											class="form-control inputTriumphi"
											name="birthdayPersonYearsOld"
											placeholder="Insira idade"
											type="number"
											required
											[(ngModel)]="reserve.idadeAniver">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="div-form form-group" [class.has-error]="reserveType.invalid && reserveType.touched">
									<label class="control-label col-xs-12 col-md-4">Situação Reserva:</label>
									<div class="col-xs-12 col-md-8">
										<select
											#reserveType="ngModel"
											class="form-control inputTriumphi"
											name="reserveType"
											required
											[(ngModel)]="reserve.tipoReserva">
											<option value="Reservada">Reservada
											<option value="Pré-Reservada">Pré-Reservada
											<option value="Cancelada">Cancelada
											<option value="Finalizada">Finalizada
										</select>
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-md-6">
								<div class="div-form form-group" [class.has-error]="kitParty.invalid && kitParty.touched">
									<label class="control-label col-xs-12 col-md-4">Kit Festa:</label>
									<div class="col-xs-12 col-md-8">
										<select
											#kitParty="ngModel"
											class="form-control inputTriumphi"
											name="kitParty"
											required
											(blur)="onTotalAmount()"
											[(ngModel)]="kitSelected">
												<option
													*ngFor="let kit of kitList, let i = index"
													[ngValue]="kit"
													[selected]="(reserve.kitFesta && kit.idKit == reserve.kitFesta.idKit)">
														{{ kit.descricao }} - R${{ kit.preco }},00
												</option>
										</select>
									</div>

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="div-form form-group" [class.has-error]="reserveDate.invalid && reserveDate.touched">
									<label class="control-label col-xs-12 col-md-4">Data:</label>
									<div class="col-xs-12 col-md-8">
										<input
											#reserveDate="ngModel"
											class="form-control inputTriumphi"
											name="reserveDate"
											required
											type="datetime-local"
											[(ngModel)]="reserve.dataReserva">
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-md-6">
								<div class="div-form form-group">
									<label class="control-label col-xs-4">Desconto:</label>
									<div class="col-xs-8">
										<input
											class="form-control inputTriumphi"
											name="discount"
											type="number"
											[(ngModel)]="reserve.desconto">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="div-form form-group">
									<label class="control-label col-xs-4">Valor Total:</label>
									<div class="col-xs-8">
										<div class="form-control">R${{ cardValue + addsValue + ((kitSelected) ? kitSelected.preco : 0) - reserve.desconto || 0 }}</div>
									</div>
								</div>
							</div>
						</div>
					</tab>

					<tab class="tabReserve" heading="Cardápio">
						<div class="row">
							<table class="table table-hover tableDisplay">

								<tr class="tableHeader">
									<th>Produto</th>
									<th>Valor</th>
									<th>Quantidade</th>
									<th>Subtotal</th>
									<th>
										<button
											type="button"
											class="btn btnTriumphi glyphicon glyphicon-plus"
											(click)="getProducts()">
										</button>
									</th>
								</tr>

								<ng-container
									*ngIf="cardList && cardList.length > 0; then haveCards; else noHaveCards">
								</ng-container>

								<ng-template #haveCards>
									<tr *ngFor="let card of cardList, let i = index">
										<td>
											{{ card.produto.nome }}
										</td>
										<td>
											<input
												class="form-control inputTriumphi"
												type="number"
												[name]="i+'cv'"
												(change)="onChangeProductValue(cardList)"
												[(ngModel)]="card.valor">
										</td>
										<td>
											<input
												class="form-control inputTriumphi"
												type="number"
												[name]="i+'cq'"
												(change)="onChangeProductValue(cardList)"
												[(ngModel)]="card.quantidade">
										</td>
										<td>
											<div>
												<span>{{ card.quantidade * card.valor || 0}}</span>
											</div>
										</td>
										<td>
											<button
												type="button"
												class="btn btnTriumphi glyphicon glyphicon-minus"
												(click)="onRemoveCard(card, [i])">
											</button>
										</td>
									</tr>

									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<div class="form-control">Valor Total: R${{ cardValue || 0 }},00</div>
										</td>
									</tr>
								</ng-template>

								<ng-template #noHaveCards>
									<tr>
										<td colspan="5">
											<div class="noData">
												Não há cardápio para esta reserva.
											</div>
										</td>
									</tr>
								</ng-template>

							</table>
						</div>
					</tab>

					<tab class="tabReserve" heading="Adicionais">
						<div class="row">
							<table class="table table-hover tableDisplay">

								<tr class="tableHeader">
									<th>Descrição</th>
									<th>Valor</th>
									<th>Quantidade</th>
									<th>Subtotal</th>
									<th>
										<button
											type="button"
											class="btn btnTriumphi glyphicon glyphicon-plus"
											(click)="onIncludesNewAdd()">
										</button>
									</th>
								</tr>

								<ng-container
									*ngIf="addsList && addsList.length > 0; then haveAdds; else noHaveAdds">
								</ng-container>

								<ng-template #haveAdds>
									<tr *ngFor="let add of addsList, let i = index">
										<td>
											<input
												class="form-control inputTriumphi"
												type="text"
												[name]="i+'d'"
												[(ngModel)]="add.descricao">
										</td>
										<td>
											<input
												class="form-control inputTriumphi"
												type="number"
												[name]="i+'av'"
												(change)="onChangeAdditionalValue(addsList)"
												[(ngModel)]="add.valor">
										</td>
										<td>
											<input
												class="form-control inputTriumphi"
												type="number"
												[name]="i+'aq'"
												(change)="onChangeAdditionalValue(addsList)"
												[(ngModel)]="add.quantidade">
										</td>
										<td>
											<div>
												<span>{{ add.quantidade * add.valor || 0}}</span>
											</div>
										</td>
										<td>
											<button
												type="button"
												class="btn btnTriumphi glyphicon glyphicon-minus"
												(click)="onRemoveAdd([i])">
											</button>
										</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<div class="form-control">Valor Total: R${{ addsValue || 0 }},00</div>
										</td>
									</tr>
								</ng-template>

								<ng-template #noHaveAdds>
									<tr>
										<td colspan="5">
											<div class="noData">
												Não há adicionais para esta reserva.
											</div>
										</td>
									</tr>
								</ng-template>

							</table>
						</div>
					</tab>
				</tabset>
			</div>


			<div class="row">
				<div class="footerFormSubmit">
					<button
						type="button"
						class="btn glyphicon glyphicon-remove btnSecondary"
						(click)="resetForm()">
					</button>
					<button
						type="submit"
						class="btn glyphicon glyphicon-ok btnPrimary"
						[disabled]="reserveForm.invalid">
					</button>
				</div>
			</div>

		</form>
	</div>
</div>

<br>

<div class="row forms">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-group inputGroup">
			<input
				class="form-control inputTriumphi"
				type="text"
				placeholder="Buscar Reserva"
				[(ngModel)]="reserveSearchValue">
			<span class="input-group-btn">
				<button
					class="btn glyphicon glyphicon-search btnSearch"
					name="btnBuscar"
					type="button"
					value="Buscar"
					(click)="searchReserve()">
				</button>
			</span>
		</div>
	</div>

	<br>

	<div class="row">
		<table class="table table-hover tableDisplay">
			<tr class="tableHeader">
				<th>NOME</th>
				<th>DATA</th>
				<th>TIPO</th>
				<th class="tableEditColumn">AÇÕES</th>
			</tr>

			<ng-container
				*ngIf="reserveList; then searchSuccess; else searchFail">
			</ng-container>

			<ng-template #searchSuccess>
				<tr *ngFor="let reserve of reserveList, let i = index">
					<td>{{ reserve.cliente.nome }}</td>
					<td>{{ reserve.dataReserva | date: 'M/d/yy, h:mm a' }}</td>
					<td>{{ reserve.tipoReserva }}</td>
					<td class="tableEditColumn tableEditColumnIcon">
						<a class="tableEditColumnIcon" (click)="confirmExclusion(reserve.idReserva)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
						<a class="tableEditColumnIcon" (click)="editReserve(reserve)">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td>
				</tr>
			</ng-template>

		</table>

		<ng-template #searchFail>
			<div class="noData"> Desculpe, nenhum resultado encontrado. </div>
		</ng-template>

	</div>
</div>

<app-modal-component
	#modalClient
	[title]="titleClient"
	[primary-action]="primaryActionClient">
	<div class="app-modal-body">
		<div class="row">
			<table class="table table-hover tableDisplay">
				<tr class="tableHeader">
					<th>SELECIONE</th>
					<th>CLIENTE</th>
				</tr>

				<ng-container
					*ngIf="clientList; then haveClient; else notHaveClient">
				</ng-container>

				<ng-template #haveClient>
					<tr *ngFor="let client of clientList, let i = index">
						<td>
							<input
								type="radio"
								name="clienteChecked"
								[value]="clientList[i].idCliente"
								(change)="onClientChange(clientList[i])">
							</td>
						<td>{{ clientList[i].nome }}</td>
					</tr>
				</ng-template>

				<ng-template #notHaveClient>
					<tr>
						<td colspan="2">
							<div class="noData">
									Desculpe, nenhum resultado encontrado.
							</div>
						</td>
					</tr>
				</ng-template>

			</table>
		</div>
	</div>
</app-modal-component>

<app-modal-component
	#modalCard
	[title]="titleCard"
	[primary-action]="primaryActionCard">
	<div class="app-modal-body">
		<table class="table table-hover tableDisplay">
			<tr *ngFor="let prod of productList, let i = index">
				<td>
					<label class="control-label">{{ prod.nome }}</label>
				</td>
				<td>
					<button
						class="btn btnTriumphi glyphicon glyphicon-plus"
						[disabled]="buttonDisabled[prod.idProduto]"
						(click)="onIncludesNewProd(prod)">
					</button>
				</td>
			</tr>
		</table>
	</div>
</app-modal-component>

<app-modal-component
	#modalReserveDelete
	title="Atenção!"
  [primary-action]="primaryActionDelete">

	<div class="app-modal-body">
		<div class="row">

			<div class="col-xs-12 messageConfirmDelete">
				<span>Você realmente deseja excluir?</span>
      </div>

		</div>
  </div>
</app-modal-component>
