<style>
  .row {
    margin-bottom: 7px;
  }
</style>

<div class="centerIcon">
  <span class="glyphicon glyphicon-lock"></span>
</div>
  
<div class="col-md-6 col-md-offset-3 formLogin">
  <form 
    class="form-horizontal form-group"
    name="loginForm"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit()">
    
    <div class="row">
      <label class="col-xs-12"></label>
      <div class="col-xs-12">
        <input
          class="form-control inputTriumphiLogin"
          name="user"
          placeholder="Usuário"
          type="text"
          required
          [(ngModel)]="user.name">
      </div>
    </div>

    <div class="row">
      <label class="col-xs-12"></label>
      <div class="col-xs-12">
        <input
          class="form-control inputTriumphiLogin"
          name="password"
          placeholder="Senha"
          type="password"
          required
          [(ngModel)]="user.password">
      </div>
    </div>
    
    <div class="row">
      <div class="footerFormLogin col-xs-12">		
        <button 
          type="button" 
          class="btn btn-default glyphicon glyphicon-log-in btnLogin"
          [disabled]="loginForm.invalid"
          (click)="onSubmit()">
        </button>
      </div>
    </div>
  </form>
</div>
