@font-face {
	font-family: Dekar; 
	src: url('/assets/fonts/Dekar.ttf');
}

body {
	background: #d3ffe2e0 !important;
	padding-top: 41px;
	font-family: Dekar;
	font-size: 16px;
}

/* li {
	background: #7590ff;
} */

fieldset {
	webkit-margin-start: 2px;
	webkit-margin-end: 2px;
	webkit-padding-before: 0.35em;
	webkit-padding-start: 0.75em;
	webkit-padding-end: 0.75em;
	webkit-padding-after: 0.625em;
	min-width: -webkit-min-content;
	border-width: 2px;
	border-style: groove;
	border-image: initial;
}

.navbars {
	background-color:#ac7b58c7;
	font-size: 21px;
}

.menuIconCollapse {
	background-color: white;
}

.dinamic {
	height: 800px;
	width: 800px;
	margin: 0 auto;
    float: none;
}

.footerFormSubmit {
	float: right !important;
	padding-right: 15px;
}

.btnPrimary,
.btnSecondary {
	font-size:21px;
}

.btnPrimary {
	background-color: #ffffff;
	border-color: #ac7b58;
	color:#ac7b58;
}

.btnPrimary:hover {
	background-color: #ffffff;
	color: #8c5b39;
	border-color: #8c5b39	
}

.btnSecondary {
	background-color: #ac7b58;
	border-color: #ac7b58;
	color:#ffffff;
	margin-right: 7px;
}

.btnSecondary:hover {
	background-color: #8c5b39;
	border-color: #8c5b39	;
	color: #ffffff;
}

.btnTriumphi,
.btnSearch {
	background: #ffffff;
	color: #ac7b58;
	border-color: #ac7b58;
}

.btnTriumphi:hover,
.btnSearch:hover {
	background: #ffffff;
	color: #8c5b39;
	border-color: #8c5b39;
}

.btnTriumphi:focus,
.btnSearch:focus {
	border-color: #ac7b58;
	box-shadow: 0 0 15px 1px #ac7b58;
}

.btnSearch {
	position: initial !important;
}

.centerIcon {
	align-items: center;
	color:#ac7b58;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size:40px;
	justify-content: center;
	margin-bottom: 14px;
}

.navBottons {
	background-color:#ffffff;
}

.navBottons:hover {
	background-color: red;
}

.navBottons:focus {
	background-color: #d3ffe2e0;
}

.forms {
	background-color:#ffffff;
	border: 1px solid;
	border-color: #f8ecda;
	border-radius: 7px;
	font-size: 18px;
	padding: 7px;
	padding-top: 14px;
}

.forms input, select {
	font-size: 16px;
}

.div-form {
	border: 0;
}

.logo {
	position:fixed;
	top: 7px;
	left:7px;
	width: 88px;
	height: 88px;
}

.content {
	padding-top: 20px;
}

/* ul li:hover a {
	background-color: #d3ffe2e0;
	color: #000000;
} */

/*
.calendarEvent {
	color: #000;
	background-color: #f8ecda;
	border: 1px solid #ac7b58;
} */

.inputGroup {
	padding-bottom: 15px;
}

.switch  {
	position: relative;
	display: inline-block;
	width: 49px;
	height: 29px;
}

/* Hide default HTML checkbox */
.switch input  {display:none;}

/* The slider */
.slider  {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before  {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: "";
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider  {
	background-color: #ac7b58;
}

input:focus + .slider  {
	box-shadow: 0 0 1px #ac7b58;
}

input:checked + .slider:before  {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round  {
	border-radius: 34px;
}

.slider.round:before  {
	border-radius: 50%;
}

.tableDisplay  {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.tableHeader  {
	color: #555;
}

.tableEditColumn  {
	text-align: right;
}

.tableEditColumnIcon  {
	color: #ac7b58;
	cursor: pointer;
}

.noData  {
	color: #ac7b58;
	font-size: 21px;
	text-align: center;
	width: 100%;
}

.modal {
  background: rgba(0,0,0,0.6);
}

.modalTitle {
	color: #777;
	font-size: 21px;
	text-align: center;
}

.groupStaffs {
	border: 1px solid;
	border-color: #f8ecda;
	border-radius: 7px;
	margin-bottom: 14px;
	width: 102.5%;
}