@font-face {
	font-family: Dekar; 
	src: url('/assets/fonts/Dekar.ttf');
}

body {
	background-image: url('/assets/images/background-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 41px;
	font-family: Dekar;
	font-size: 16px;
}

fieldset {
	webkit-margin-start: 2px;
	webkit-margin-end: 2px;
	webkit-padding-before: 0.35em;
	webkit-padding-start: 0.75em;
	webkit-padding-end: 0.75em;
	webkit-padding-after: 0.625em;
	min-width: -webkit-min-content;
	border-width: 2px;
	border-style: groove;
	border-image: initial;
}

.navbars {
	background-color:#72b2b8c7;
	font-size: 21px;
}

.menuIconCollapse {
	background-color: white;
}

.dinamic {
	height: 800px;
	width: 800px;
	margin: 0 auto;
    float: none;
}

.footerFormLogin,
.footerFormSubmit {
	padding-right: 15px;
}

.footerFormLogin {
	text-align: center;
}

.footerFormSubmit {
	float: right !important;
}

.btnLogin {
	width: 100%
}
.btnLogin,
.btnPrimary,
.btnSecondary {
	font-size:21px;
	border-radius: 25px;
}

.btnLogin,
.btnPrimary {
	background-color: #ffffff;
	border-color: #72b2b8;
	color:#72b2b8;
}

.btnLogin:hover,
.btnPrimary:hover {
	background-color: #ffffff;
	color: #72b2b8;
	border-color: #72b2b8	
}

.btnSecondary {
	background-color: #72b2b8;
	border-color: #72b2b8;
	color:#ffffff;
	margin-right: 7px;
}

.btnSecondary:hover {
	background-color: #72b2b8;
	border-color: #72b2b8	;
	color: #ffffff;
}

.inputTriumphiLogin,
.inputTriumphi {
	border-color: #72b2b8;
	color: #0f252a;
}

.btnTriumphi,
.btnSearch {
	background: #ffffff;
	color: #72b2b8;
	border-color: #72b2b8;
}

.btnTriumphi:hover,
.btnSearch:hover {
	background: #ffffff;
	color: #477c80;
	border-color: #477c80;
}

.btnTriumphi:focus,
.btnSearch:focus,
inputTriumphiLogin:focus,
.inputTriumphi:focus {
	border-color: #4e898f;
	box-shadow: 0 0 15px 1px #72b2b8;
}

.inputTriumphiLogin {
	border-radius: 25px;
	font-size: 21px;
	height: 44px;
	margin-bottom: 20px;
	text-align: center;
}

.btnSearch {
	position: initial !important;
}

.centerIcon {
	align-items: center;
	border: 1px solid;
	border-radius: 41px;
	box-shadow: 0px 0px 7px 3px #72b2b8;
	color:#72b2b8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size:40px;
	height: 66px;
	justify-content: center;
	margin: 14px 0;
	margin-left: calc(50% - 33px);
	text-align: center;
	width: 66px;
}

.navBottons {
	background-color:#ffffff;
}

.navBottons:hover {
	background-color: #b4d1d4;
}

.navBottons:focus {
	background-color: #d3ffe2e0;
}

.forms,
.formLogin {
	background-color: #ffffff70;
	border-radius: 7px;
	box-shadow: 0px 7px 14px 1px #72b2b8;
	font-size: 18px;
	padding: 7px;
	padding-top: 14px;
}

.formLogin{
	font-size: 21px;
	padding: 14px
}

.forms input, select {
	font-size: 16px;
}

.div-form {
	border: 0;
}

.logo {
	position:fixed;
	top: 7px;
	left:7px;
	width: 88px;
	height: 88px;
}

.content {
	padding-top: 20px;
}

/*
.calendarEvent {
	color: #000;
	background-color: #f8ecda;
	border: 1px solid #72b2b8;
} */

.inputGroup {
	padding-bottom: 15px;
}

.switch  {
	position: relative;
	display: inline-block;
	width: 49px;
	height: 29px;
}

.switch input  {display:none;}

.slider  {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before  {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: "";
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider  {
	background-color: #72b2b8;
}

input:focus + .slider  {
	box-shadow: 0 0 1px #72b2b8;
}

input:checked + .slider:before  {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round  {
	border-radius: 34px;
}

.slider.round:before  {
	border-radius: 50%;
}

.tabReserve {
	color: #0f252a;
}

.nav-tabs>li>a>span {
	color: #0f252a;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:active,
a.itemMenu.active {
	background-color: #b4d1d4;
	color: #f7f6f6;
}

.tabReserve:hover {
	color: #0f252a;
}

.tableDisplay  {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.tableHeader  {
	color: #0f252a;
}

.tableEditColumn  {
	text-align: right;
}

.tableEditColumnIcon  {
	color: #0f252a;
	cursor: pointer;
}

.noData  {
	color: #0f252a;
	font-size: 21px;
	text-align: center;
	width: 100%;
}

.modal {
  background: rgba(0,0,0,0.6);
}

.modalTitle {
	color: #0f252a;
	font-size: 21px;
	text-align: center;
}

.groupStaffs {
	border: 1px solid;
	border-color: #f8ecda;
	border-radius: 7px;
	margin-bottom: 14px;
	width: 102.5%;
}