<style>
	.modalLineSpace {
		margin-bottom: 14px;
	}
</style>

<div class="row">		
	<nav class="navbar navbar-default navbar-fixed-top navbars" role="navigation">
		<div class="container-fluid">	

			<div class="navbar-header">
				<a class="navbar-brand">				
					<img src="assets/images/logo.png" class="img-responsive logo" alt="">
				</a>	  			
				<button type="button" class="navbar-toggle menuIconCollapse" data-toggle="collapse" data-target="#navigationMenu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>					
				</button>				
			</div>				
				
			<div class="collapse navbar-collapse navbar-right" id="navigationMenu">
				<ul class="nav navbar-nav ">
					<!-- <li class="tabs" routerLinkActive="active">
						<a class="navBottons itemMenu" routerLink="calendar">
							<span class="glyphicon glyphicon-home" ></span> Home
						</a>
					</li> -->
					<li>
					<a routerLinkActive="active" class="navBottons itemMenu" routerLink="reserve">
						<span class="glyphicon glyphicon-calendar"></span> Reservas
					</a>
					</li>
					<li>
						<a routerLinkActive="active"class="navBottons itemMenu" routerLink="cashFlow">
							<span class="glyphicon glyphicon-usd"></span> Fluxo de Caixa
						</a>
					</li>
					<li routerLinkActive="active" class="dropdown">  
						<a routerLinkActive="active" class="dropdown-toggle navBottons itemMenu" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span> Cadastros
							<span class="caret"></span>							
						</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a routerLinkActive="active" class="itemMenu" routerLink="client"> Clientes</a>
								</li>
								<li>
									<a routerLinkActive="active" class="itemMenu" routerLink="staff"> Staff's</a>
								</li>
							</ul>
					</li>
					<li>
						<a routerLinkActive="active" routerLinkActive="active" class="navBottons itemMenu" routerLink="product">
							<span class="glyphicon glyphicon-glass"></span> Produtos
						</a>
					</li>
					<li>
						<a routerLinkActive="active" class="navBottons itemMenu" routerLink="kitParty">
							<span class="glyphicon glyphicon-gift"></span> Kit-Festa
						</a>
					</li>
					<li class="dropdown" routerLinkActive="active">
						<a routerLinkActive="active" class="dropdown-toggle navBottons" data-toggle="dropdown">
							<span class="glyphicon glyphicon-file"></span> Relatórios
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li routerLinkActive="active">
								<a routerLinkActive="active" class="itemMenu" (click)="showModalCashflowReport()">Relatório de Finanças</a>
							</li>
							<li routerLinkActive="active">
								<a routerLinkActive="active" class="itemMenu" (click)="showModalPartyReport()">Relatório de Festas</a>
							</li>
						</ul>						
					</li>

					<li class="dropdown" routerLinkActive="active">
						<a routerLinkActive="active" class="dropdown-toggle navBottons" data-toggle="dropdown">
							<span class="glyphicon glyphicon-list-alt"></span> Documentos
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li routerLinkActive="active"><a class="itemMenu" routerLink="../relatorios/requisicaoProd.html">Requisição de Produtos</a></li>
							<li routerLinkActive="active"><a class="itemMenu" routerLink="../relatorios/recibosPag.html">Recibos de Pagamentos</a></li>
							<li routerLinkActive="active"><a class="itemMenu" routerLink="../relatorios/checkList.html">Check-List de Conferência</a></li>														
						</ul>						
					</li>	

					<li>
						<a class="navBottons itemMenu">
						<!-- onClick="windows.location("") -->
							<span class="glyphicon glyphicon-log-out"></span>
						</a>
					</li>
				</ul>
			</div>	

		</div>		
	</nav>
</div>

<div class="container content">					
	<router-outlet></router-outlet>
</div>

<app-modal-component 
	#modalCashflowReport
	title="Relatório de Fluxo de Caixa"
	[primary-action]="primaryActionCashflow">

	<div class="app-modal-body">

		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Tipo de Transação:</label>
			<div class="col-xs-8">
				<select 
					class="form-control inputTriumphi" 
					name="transactionType"
					[(ngModel)]="cashflowParameter.tipoMovimento">

						<option value=" ">Ambos
						<option value="1">Saída
						<option value="2">Entrada
				</select>
			</div>
		</div>
				
		<div class="row modalLineSpace" [hidden]="(cashflowParameter.tipoMovimento == ' ')">
			<ng-container *ngIf="cashflowParameter.tipoMovimento == 1; then outflowReport; else inflowReport"></ng-container>

			<ng-template #outflowReport>
				<label class="control-label col-xs-4">Despesa:</label>
				<div class="col-xs-8">
					<select 
						class="form-control inputTriumphi" 
						name="expense"
						[(ngModel)]="cashflowParameter.despesa">
						
						<option [ngValue]=" " [selected]="cashflowParameter.despesa != ' ' ? false : true">Todas</option>
						<option
							*ngFor="let expense of expenseList"
							[ngValue]="expense.idDespesa">
								{{ expense.descricao }}
						</option>
					</select>
				</div>
			</ng-template>

			<ng-template #inflowReport>
				<label class="control-label col-xs-4">Situção da rerva:</label>
				<div class="col-md-8">	
					<select
						class="form-control inputTriumphi"
						name="reserveTypeFlowReport"
						[(ngModel)]="reserveTypeFlowReport">

						<option value=" ">Todas
						<option value="Reservada">Reservada
						<option value="Pré-Reservada">Pré-Reservada
						<option value="Cancelada">Cancelada
						<option value="Finalizada">Finalizada
					</select>
				</div>			
			</ng-template>
		</div> 

		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Data inicial:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="cashflowParameterStartDate"
					type="date"
					[(ngModel)]="cashflowParameter.dataInicio">
			</div>
		</div>
		
		<div class="row">
			<label class="control-label col-xs-4">Data Final:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="cashflowParameterEndDate"
					type="date"
					[(ngModel)]="cashflowParameter.dataFim">
			</div>
		</div>

	</div>
</app-modal-component>

<app-modal-component 
	#modalPartyReport
	title="Relatório de Festas"
	[primary-action]="primaryActionParty">

	<div class="app-modal-body">
		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Situção da rerva:</label>
			<div class="col-xs-8">	
				<select
					class="form-control inputTriumphi"
					name="reserveTypePartyReport"
					[(ngModel)]="reserveParameter.tipoReserva">

					<option value="">Todas
					<option value="Reservada">Reservada
					<option value="Pré-Reservada">Pré-Reservada
					<option value="Cancelada">Cancelada
					<option value="Finalizada">Finalizada
				</select>
			</div>
		</div>

		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Data inicial:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="reserveDateStartReport"
					type="date"
					[(ngModel)]="reserveParameter.dataInicio">
			</div>
		</div>

		<div class="row">
			<label class="control-label col-xs-4">Data Final:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="reserveDateEndReport"
					type="date"
					[(ngModel)]="reserveParameter.dataFim">
			</div>
		</div>

	</div>
</app-modal-component>
