<style>
	.modalLineSpace {
		margin-bottom: 14px;
	}
</style>

<app-navbar *ngIf="showMenu"></app-navbar>

<div class="container content">					
	<router-outlet></router-outlet>
</div>

<app-modal-component 
	#modalCashflowReport
	title="Relatório de Fluxo de Caixa"
	[primary-action]="primaryActionCashflow">

	<div class="app-modal-body">

		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Tipo de Transação:</label>
			<div class="col-xs-8">
				<select 
					class="form-control inputTriumphi" 
					name="transactionType"
					[(ngModel)]="cashflowParameter.tipoMovimento">

						<option value=" ">Ambos
						<option value="1">Saída
						<option value="2">Entrada
				</select>
			</div>
		</div>
				
		<div class="row modalLineSpace" [hidden]="(cashflowParameter.tipoMovimento == ' ')">
			<ng-container *ngIf="cashflowParameter.tipoMovimento == 1; then outflowReport; else inflowReport"></ng-container>

			<ng-template #outflowReport>
				<label class="control-label col-xs-4">Despesa:</label>
				<div class="col-xs-8">
					<select 
						class="form-control inputTriumphi" 
						name="expense"
						[(ngModel)]="cashflowParameter.despesa">
						
						<option [ngValue]=" " [selected]="cashflowParameter.despesa != ' ' ? false : true">Todas</option>
						<option
							*ngFor="let expense of expenseList"
							[ngValue]="expense.idDespesa">
								{{ expense.descricao }}
						</option>
					</select>
				</div>
			</ng-template>

			<ng-template #inflowReport>
				<label class="control-label col-xs-4">Situção da rerva:</label>
				<div class="col-md-8">	
					<select
						class="form-control inputTriumphi"
						name="reserveTypeFlowReport"
						[(ngModel)]="reserveTypeFlowReport">

						<option value=" ">Todas
						<option value="Reservada">Reservada
						<option value="Pré-Reservada">Pré-Reservada
						<option value="Cancelada">Cancelada
						<option value="Finalizada">Finalizada
					</select>
				</div>			
			</ng-template>
		</div> 

		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Data inicial:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="cashflowParameterStartDate"
					type="date"
					[(ngModel)]="cashflowParameter.dataInicio">
			</div>
		</div>
		
		<div class="row">
			<label class="control-label col-xs-4">Data Final:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="cashflowParameterEndDate"
					type="date"
					[(ngModel)]="cashflowParameter.dataFim">
			</div>
		</div>

	</div>
</app-modal-component>

<app-modal-component 
	#modalPartyReport
	title="Relatório de Festas"
	[primary-action]="primaryActionParty">

	<div class="app-modal-body">
		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Situção da rerva:</label>
			<div class="col-xs-8">	
				<select
					class="form-control inputTriumphi"
					name="reserveTypePartyReport"
					[(ngModel)]="reserveParameter.tipoReserva">

					<option value="">Todas
					<option value="Reservada">Reservada
					<option value="Pré-Reservada">Pré-Reservada
					<option value="Cancelada">Cancelada
					<option value="Finalizada">Finalizada
				</select>
			</div>
		</div>

		<div class="row modalLineSpace">
			<label class="control-label col-xs-4">Data inicial:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="reserveDateStartReport"
					type="date"
					[(ngModel)]="reserveParameter.dataInicio">
			</div>
		</div>

		<div class="row">
			<label class="control-label col-xs-4">Data Final:</label>
			<div class="col-xs-8">	
				<input
					class="form-control inputTriumphi"  
					name="reserveDateEndReport"
					type="date"
					[(ngModel)]="reserveParameter.dataFim">
			</div>
		</div>

	</div>
</app-modal-component>
