<div class="centerIcon">
	<span class="glyphicon glyphicon-usd"></span>
</div>
<br />
<div class="row forms">
	<div class="col-xs-12">
		<form class="form-horizontal form-group">
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<label class="control-label col-xs-5">Tipo de Transação:</label>
						<div class="col-xs-7">
							<label class="radio-inline">
								<input 
								name="transactionType" 
								type="radio" 
								value="outflow"
								[checked]="flow.tipoMovimento == 'outflow'"
								[(ngModel)]="flow.tipoMovimento">
									Saída
							</label>
							<label class="radio-inline">
								<input 
									name="transactionType" 
									type="radio" 
									value="inflow" 
									[checked]="flow.tipoMovimento == 'inflow'"
									[(ngModel)]="flow.tipoMovimento">
										Entrada
							</label>
						</div>
						
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div class="row">
							
						<ng-container
								*ngIf="flow.tipoMovimento == 'outflow'; then outflow; else inflow">
							</ng-container>

							<ng-template #outflow>
								<div class="row">
									<div class="form-group">
										<label class="control-label col-xs-5">Descricação de custos:</label>
										<div class="col-xs-5">
											<select 
												class="form-control inputTriumphi" 
												name="costDescription">
													<option>Selecionar
											</select>
										</div>
										
										<div class="col-xs-2">			
											<button 
												type="button" 
												class="btn btnTriumphi glyphicon glyphicon-plus"
												(click)="addCategoria()">
											</button>
										</div>
									</div>
								</div>
							</ng-template>

							<ng-template #inflow>
								<div class="form-group">
									<label class="control-label col-xs-5">Ordem de Reserva:</label>
									<div class="col-xs-5">
										<input 
											#reservePicked
											class="form-control inputTriumphi"
											name="reserveOrder"
											[(ngModel)]="reserveOrder">
									</div>
									<div class="col-xs-2">
										<button 
											type="button" 
											class="btn btnTriumphi glyphicon glyphicon-search"
											(click)="getFlows()">
										</button>
									</div>
								</div>
							</ng-template>
					</div>
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="form-group formaPagamento">
						<label class="control-label col-xs-5">Forma de Pagamento:</label>
						<div class="col-xs-7">
							<select 
								class="form-control inputTriumphi"
								name="formPyment">
									<option>Dinheiro
									<option>Cartão Débito
									<option>Cartão Crédito
									<option>Cheque
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label col-xs-5">N° Parcelas:</label>
						<div class="col-xs-7">
							<select 
								class="form-control inputTriumphi" 
								name="installmentNumber">
									<option>1x
									<option>2x
									<option>3x
									<option>4x
									<option>5x
									<option>6x
									<option>7x
									<option>8x
									<option>9x
									<option>10x
							</select>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-6">	
					<div class="form-group">
						<label class="control-label col-xs-5">Valor:</label>
						<div class="col-xs-7">
							<input 
								class="form-control inputTriumphi"  
								type="number" 
								name="flowValue"
								[(ngModel)]="flow.valor">
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">	
					<div class="form-group">
						<label class="control-label col-xs-5">Data</label>
						<div class="col-xs-7">
							<input 
								class="form-control inputTriumphi"  
								type="date" 
								name="flowDate"
								[(ngModel)]="flow.dataMovimento">
						</div>
					</div>
				</div>
				
			</div>
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="div-form form-group cheque hide">
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Nº Cheque</label>
								<input 
									class="form-control inputTriumphi"  
									name="checkNumber">
						</div>
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Agência</label>	
								<input 
									class="form-control inputTriumphi"
									name="agency">
						</div>
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Conta Corrente</label>
								<input 
									class="form-control inputTriumphi"
									name="currentAccount">
						</div>
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Banco</label>	
								<input 
									class="form-control" inputTriumphi
									name="bank">
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="row">
				<div class="footerFormSubmit">		
					<button 
						type="button" 
						class="btn btn-default glyphicon glyphicon-remove btnSecondary" >
					</button>
					<button 
						type="button" 
						class="btn btn-default glyphicon glyphicon-ok btnPrimary">
					</button>
				</div>
			</div>
		</form>		
	</div>
</div>

<br>

<div class="row forms">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-group inputGroup">
			<input 
				class="form-control inputTriumphi" 
				type="text" 
				placeholder="Buscar Reserva"
				[(ngModel)]="reserveSearchValue">
			<span class="input-group-btn">
				<button 
					class="btn glyphicon glyphicon-search btnSearch" 
					name="btnSearchFlow" 
					type="button" 
					value="Buscar" 
					(click)="searchFlow()">
				</button>
			</span>
		</div>
	</div>

	<br>
	
	<div class="row">
		<div>
			<table class="table table-hover tableDisplay">

				<tr class="tableHeader">
					<th>TIPO</th>
					<th>DATA</th>
					<th>FORMA DE PAGAMENTO</th>
					<th class="tableEditColumn">AÇÕES</th>
				</tr>

				<ng-container
					*ngIf="flowList; then searchSuccess; else searchFail">
				</ng-container>
				
				<ng-template #searchSuccess>
					<tr *ngFor="let flow of flowList, let i = index">
						<td>{{ flow.tipoMovimento }}</td>
						<td>{{ flow.dataRegistro | date: 'M/d/yy, h:mm a' }}</td>
						<td>{{ flow.formaPagamento }}</td>
						<td class="tableEditColumn tableEditColumnIcon">
							<a class="tableEditColumnIcon" (click)="deleteFlow(flow.idReserva)">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<a class="tableEditColumnIcon" (click)="editFlow(flow)">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</td>
					</tr>
				</ng-template>

			</table>

			<ng-template #searchFail>
				<div class="noData">
					Desculpe, nenhum resultado encontrado.
				</div>
			</ng-template>
		</div>
	</div>	
</div>

<modal-component 
	#modalReserve 
	[title]="titleReserves"
	[primary-action]="primaryActionReserve">
	<div class="app-modal-body">
		<tr *ngFor="let reserve of reserveList, let i = index">
			<td>
				<input
					type="radio" 
					name="reserveChecked"
					[value]="i+'cc'"
					(change)="onReserveChange(reserve)">
			</td>
			<td>{{ reserve.idReserva }}</td>
		</tr>
	</div>
</modal-component>