<div class="centerIcon">
	<span class="glyphicon glyphicon-usd"></span>
</div>
<br />
<div class="row forms">
	<div class="col-xs-12">
		<form class="form-horizontal form-group">
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<label class="control-label col-xs-5">Tipo de Transação:</label>
						<div class="col-xs-7">
							<label class="radio-inline">
								<input 
								name="transactionType" 
								type="radio" 
								value="outflow"
								[checked]="cashFlow.tipoMovimento == 'outflow'"
								[(ngModel)]="cashFlow.tipoMovimento">
									Saída
							</label>
							<label class="radio-inline">
								<input 
									name="transactionType" 
									type="radio" 
									value="inflow" 
									[checked]="cashFlow.tipoMovimento == 'inflow'"
									[(ngModel)]="cashFlow.tipoMovimento">
										Entrada
							</label>
						</div>
						
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div class="row">
							
						<ng-container
								*ngIf="cashFlow.tipoMovimento == 'outflow'; then outflow; else inflow">
							</ng-container>

							<ng-template #outflow>
								<div class="row">
									<div class="form-group">
										<label class="control-label col-xs-5">Descricação de custos:</label>
										<div class="col-xs-5">
											<select 
												class="form-control inputTriumphi" 
												name="descricaoCusto">
													<option>Selecionar
											</select>
										</div>
										
										<div class="col-xs-2">			
											<button 
												type="button" 
												class="btn btnTriumphi glyphicon glyphicon-plus"
												(click)="addCategoria()">
											</button>
										</div>
									</div>
								</div>
							</ng-template>

							<ng-template #inflow>
									<div class="form-group">
										<label class="control-label col-xs-5">Ordem de Reserva:</label>
										<div class="col-xs-7">
											<input 
												class="form-control inputTriumphi"
												name="ordemReserva"
												[(ngModel)]="cashFlow.reserva">
										</div>
									</div>
							</ng-template>
					</div>
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="form-group formaPagamento">
						<label class="control-label col-xs-5">Forma de Pagamento:</label>
						<div class="col-xs-7">
							<select 
								class="form-control inputTriumphi"
								name="formaPagamento">
									<option>Dinheiro
									<option>Cartão Débito
									<option>Cartão Crédito
									<option>Cheque
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="control-label col-xs-5">N° Parcelas:</label>
						<div class="col-xs-7">
							<select 
								class="form-control inputTriumphi" 
								name="numeroParcelas">
									<option>1x
									<option>2x
									<option>3x
									<option>4x
									<option>5x
									<option>6x
									<option>7x
									<option>8x
									<option>9x
									<option>10x
							</select>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-6">	
					<div class="form-group">
						<label class="control-label col-xs-5">Valor:</label>
						<div class="col-xs-7">
							<input 
								class="form-control inputTriumphi"  
								type="number" 
								name="valorTransacao"
								[(ngModel)]="cashFlow.valor">
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">	
					<div class="form-group">
						<label class="control-label col-xs-5">Data</label>
						<div class="col-xs-7">
							<input 
								class="form-control inputTriumphi"  
								type="date" 
								name="dataTransacao"
								[(ngModel)]="cashFlow.dataRegistro">
						</div>
					</div>
				</div>
				
			</div>
			<div class="row">
			
				<div class="col-xs-12 col-md-6">
					<div class="div-form form-group cheque hide">
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Nº Cheque</label>
								<input 
									class="form-control inputTriumphi"  
									name="nCheque">
						</div>
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Agência</label>	
								<input 
									class="form-control inputTriumphi"
									name="agencia">
						</div>
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Conta Corrente</label>
								<input 
									class="form-control inputTriumphi"
									name="contaCorrente">
						</div>
						<div class="col-xs-6 col-md-4">
							<label class="control-label">Banco</label>	
								<input 
									class="form-control" inputTriumphi
									name="banco">
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="row">
				<div class="footerFormSubmit">		
					<button 
						type="button" 
						class="btn btn-default glyphicon glyphicon-remove btnSecondary" >
					</button>
					<button 
						type="button" 
						class="btn btn-default glyphicon glyphicon-ok btnPrimary">
					</button>
				</div>
			</div>
		</form>		
	</div>
</div>
