<div class="centerIcon">
	<span class="glyphicon glyphicon-usd"></span>
</div>

<br>

<div class="row forms">
	<div class="col-xs-12">
		<form 
			class="form-horizontal form-group"
			name="cashFlowForm"
			#cashFlowForm="ngForm"
			(ngSubmit)="onSubmit()">

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<label class="control-label col-xs-4">Tipo de Transação:</label>
						<div class="col-xs-8">
							<select 
								class="form-control inputTriumphi" 
								name="transactionType"
								[(ngModel)]="flow.tipoMovimento">
									<option [ngValue]="1">Saída
									<option [ngValue]="2">Entrada
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div class="row">
							
						<ng-container
							*ngIf="flow.tipoMovimento == 1; then outflow; else inflow">
						</ng-container>

						<ng-template #outflow>
							<div>
								<label class="control-label col-xs-4">Despesa:</label>
								<div class="col-xs-5">
									<select 
										class="form-control inputTriumphi" 
										name="expense"
										[(ngModel)]="expenseSelected">
										
										<option
											*ngFor="let expense of expenseList"
											[ngValue]="expense"
											[selected]="(flow.despesa && expense.idDespesa == flow.despesa.idDespesa)">
												{{ expense.descricao }}
										</option>
									</select>
								</div>
								
								<div class="col-xs-2">			
									<button 
										type="button" 
										class="btn btnTriumphi glyphicon glyphicon-plus"
										(click)="openModalExpense()">
									</button>
								</div>
							</div>
						</ng-template>

						<ng-template #inflow>
							<label class="control-label col-xs-4">Ordem | Cliente:</label>
							<div class="col-xs-8">
								<div class="input-group">
									<span class="input-group-addon">{{ reserveOrder }}</span>
									<input 
										#reservePicked
										aria-label="Amount (to the nearest dollar)"
										class="form-control"
										name="reserveClient"
										type="text" 
										[(ngModel)]="clientName">
									<span class="input-group-btn">
										<button 
											class="btn btnTriumphi" 
											type="button"
											(click)="getReserves()">
												<span class="glyphicon glyphicon-search"></span>
										</button>
									</span>
								</div>
							</div>
						</ng-template>

					</div>
				</div>
			</div>

			<br>
			
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group" [class.has-error]="typePayment.invalid && typePayment.touched">
						<label class="control-label col-xs-4">Forma de Pagamento:</label>
						<div class="col-xs-8">
							<select
								#typePayment="ngModel"
								class="form-control inputTriumphi"
								name="typePayment"
								required
								[(ngModel)]="flow.formaPagamento">
									<option value="1">Dinheiro
									<option value="2">Cartão Débito
									<option value="3">Cartão Crédito
									<option value="4">Cheque
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div class="form-group" [class.has-error]="installmentNumber.invalid && installmentNumber.touched">
						<label class="control-label col-xs-4">N° Parcelas:</label>
						<div class="col-xs-8">
							<select
								#installmentNumber="ngModel"
								class="form-control inputTriumphi" 
								name="installmentNumber"
								required
								[(ngModel)]="flow.numeroParcelas">
									<option value="1">1x
									<option value="2">2x
									<option value="3">3x
									<option value="4">4x
									<option value="5">5x
									<option value="6">6x
									<option value="7">7x
									<option value="8">8x
									<option value="9">9x
									<option value="10">10x
							</select>
						</div>
					</div>
				</div>
			</div>

			<ng-container *ngIf="flow.formaPagamento == 4; then check"></ng-container>

			<ng-template #check>
				<div class="row">

					<div class="col-xs-12 col-md-6">
						<div class="form-group" [class.has-error]="checkNumber.invalid && checkNumber.touched">
							<label class="control-label col-xs-4">Nº Cheque:</label>
							<div class="col-xs-8">
								<input
									#checkNumber="ngModel"
									class="form-control inputTriumphi"  
									name="checkNumber"
									required
									[(ngModel)]="flow.numeroCheque">
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-6">
						<div class="form-group" [class.has-error]="checkAgency.invalid && checkAgency.touched">
							<label class="control-label col-xs-4">Agência:</label>
							<div class="col-xs-8">
								<input
									#checkAgency="ngModel"
									class="form-control inputTriumphi"
									name="agency"
									required
									[(ngModel)]="flow.agencia">
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-6">
						<div class="form-group" [class.has-error]="checkAgency.invalid && checkAgency.touched">
							<label class="control-label col-xs-4">Conta Corrente:</label>
							<div class="col-xs-8">
								<input
									#checkAgency="ngModel"
									class="form-control inputTriumphi"
									name="checkAgency"
									required
									[(ngModel)]="flow.contaCorrente">
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-6">
						<div class="form-group" [class.has-error]="checkBank.invalid && checkBank.touched">
							<label class="control-label col-xs-4">Banco:</label>
							<div class="col-xs-8">
								<input
									#checkBank="ngModel"
									class="form-control" inputTriumphi
									name="checkBank"
									required
									[(ngModel)]="flow.banco">
							</div>
						</div>
					</div>

				</div>
			</ng-template>
			
			<div class="row">
				<div class="col-xs-12 col-md-6">	
					<div class="form-group" [class.has-error]="priceCashflow.invalid && priceCashflow.touched">
						<label class="control-label col-xs-4">Valor:</label>
						<div class="col-xs-8">
							<input
								#priceCashflow="ngModel"
								class="form-control inputTriumphi"  
								name="flowValue"
								required
								type="number" 
								[(ngModel)]="flow.valor">
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-md-6">	
					<div class="form-group" [class.has-error]="dateCashflow.invalid && dateCashflow.touched">
						<label class="control-label col-xs-4">Data</label>
						<div class="col-xs-8">
							<input
								#dateCashflow="ngModel"
								class="form-control inputTriumphi"  
								name="flowDate"
								required
								type="date"
								[(ngModel)]="flow.dataMovimento">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="footerFormSubmit">		
					<button 
						type="button" 
						class="btn btn-default glyphicon glyphicon-remove btnSecondary" 
						(click)="resetForm()">
					</button>
					<button 
						type="button" 
						class="btn btn-default glyphicon glyphicon-ok btnPrimary"
						[disabled]="cashFlowForm.invalid"
						(click)="onSubmit()">
					</button>
				</div>
			</div>
		</form>		
	</div>
</div>

<br>

<div class="row forms">
	<div class="col-xs-6 col-xs-offset-1">
		<div class="row">
			<label class="control-label col-xs-1">
				<span class="glyphicon glyphicon-filter"></span>
			</label>
			<div class="col-xs-11">
				<label class="radio-inline">
					<input 
						name="flowSearchValue"
						type="radio" 
						value="1"
						(change)="searchFlow()"
						[(ngModel)]="flowSearchValue">
							Saída
				</label>
				<label class="radio-inline">
					<input 
						name="flowSearchValue"
						type="radio"
						value="2"
						(change)="searchFlow()"
						[(ngModel)]="flowSearchValue">
							Entrada
				</label>
				<label class="radio-inline">
					<input 
						name="flowSearchValue"
						type="radio"
						value=" "
						(change)="searchFlow()"
						[(ngModel)]="flowSearchValue">
							Ambos
				</label>
			</div>
		</div>
	</div>

	<br>
	
	<div class="row">
		<div>
			<table class="table table-hover tableDisplay">

				<tr class="tableHeader">
					<th>TIPO</th>
					<th>DATA</th>
					<th>FORMA DE PAGAMENTO</th>
					<th class="tableEditColumn">AÇÕES</th>
				</tr>

				<ng-container
					*ngIf="flowList; then searchSuccess; else searchFail">
				</ng-container>
				
				<ng-template #searchSuccess>
					<tr *ngFor="let flow of flowList, let i = index">
						<td>{{ getTransactionType(flow.tipoMovimento) }}</td>
						<td>{{ flow.dataMovimento | date: 'M/d/yyyy' }}</td>
						<td>{{ getTypePayment(flow.formaPagamento) }}</td>
						<td class="tableEditColumn tableEditColumnIcon">
							<a class="tableEditColumnIcon" (click)="deleteFlow(flow.idMovimento)">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<a class="tableEditColumnIcon" (click)="editFlow(flow)">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</td>
					</tr>
				</ng-template>

			</table>

			<ng-template #searchFail>
				<div class="noData">
					Desculpe, nenhum resultado encontrado.
				</div>
			</ng-template>
		</div>
	</div>	
</div>

<modal-component 
	#modalReserve 
	[title]="titleReserves"
	[primary-action]="primaryActionReserve">
	<div class="app-modal-body">
		<table class="table table-hover tableDisplay">
			<tr class="tableHeader">
				<th></th>
				<th>ORDEM</th>
				<th>CLIENTE</th>
			</tr>

			<ng-container
				*ngIf="reserveList; then searchReserveSuccess; else searchReserveFail">
			</ng-container>
				
			<ng-template #searchReserveSuccess>
				<tr *ngFor="let reserve of reserveList, let i = index">
					<td>
						<input
							type="radio" 
							name="reserveChecked"
							[value]="i+'cc'"
							(change)="onReserveChange(reserve)">
					</td>
					<td>{{ reserve.idReserva }}</td>
					<td>{{ reserve.cliente.nome }}</td>
				</tr>
			</ng-template>
		</table>
			
		<ng-template #searchReserveFail>
			<div class="noData">
				Desculpe, nenhum resultado encontrado.
			</div>
		</ng-template>
	</div>
</modal-component>

<modal-component 
	#modalExpense 
	[title]="titleExpenses"
	[primary-action]="primaryActionExpense">
	<div class="app-modal-body">
		<div class="row">
			<label class="control-label col-xs-3">Tipo de Transação:</label>
			<div class="col-xs-6">
				<input
					class="form-control inputTriumphi" 
					type="text" 
					name="newExpense"
					[(ngModel)]="expense.descricao">
			</div>
			<div class="col-xs-2">
				<button
					class="btn btnTriumphi glyphicon glyphicon-plus"
					type="button"
					(click)="addExpense()">
				</button>
			</div>
		</div>
	</div>
</modal-component>